.icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);

    &--small {
        width: 14px;
        height: 14px;
    }

    &--large {
        width: 40px;
        height: 40px;
    }

    &--enable {
        fill: #F0CC84;
    }

    &--disable {
        fill: #E5E5E5;
    }
}