.section {

    &__first {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 32px;


        @media (max-width: 900px) {
            flex-direction: column;
        }

        & > * {
            flex: 1;
            max-width: 540px;
            margin: 0 auto;
        }

    }

    &__advantage {
        padding: 29px 0;
        border-bottom: 2px solid var(--icon-color);
    }
}

.slider {

    width: 100%;
    position: relative;

    &__images {
        max-width: 540px;
        max-height: 490px;
    }

    &__control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 26px;
    }

    &__btn {
        background-color: var(--white-color);
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &--left,
        &--right {
            border-left: 1px solid #121212;
            border-top: 1px solid #121212;
            width: 10px;
            height: 10px;
            transform: rotateZ(-45deg);
        }

        &--right {
            transform: rotateZ(135deg);
        }
    }
}

.title-img {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &--small &__text  {
        font-size: 14px;
        line-height: 22px;
    }

    &--small &__wrapper {
        padding: 13px 24px;
        min-width: 118px;
        max-height: 48px;
    }


    &__wrapper {
        background-color: var(--white-color);
        text-align: center;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 24px 32px ;
    }

    &:hover &_wrapper {
        width: 100%;
        border-radius: 0;
    }
    
    &__text {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.06em;

        &--small {
            font-size: 12px;
            line-height: 13px;
            color: #121212;
            opacity: .4;
        }
    }
}

.top-category {
    width: 100%;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        line-height: 0;
        
        & > div {
            display: flex;
            gap: inherit;
        }
        
    }

    & a {
        position: relative;
    }
    
}

.advantage {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    @media (max-width: 570px) {
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        color: var(--dark-color);
        gap: 9px;
    }

    &__title {
        font-size: 12px;
        line-height: 13px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 4px;
        letter-spacing: 0.05em;
    }

    &__text {
        font-size: 12px;
        line-height: 22px;
        opacity: .9;
        margin: 0;
    }
}